html {
	font-family: "Avenir Next", Helevetica, sans-serif;
	text-align: center; font-size: 18px;
}

body {
	margin: 0 auto;
	color: #000000;
}

h1, 
h2 {
	font-weight: 300;
}

.day-of-week canvas {
  width: 78px;
  height: 78px;
}

/*weekly weather for 7 days*/

.week-weather {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 4rem auto;
    -ms-flex-item-align: center;
    align-self: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
